@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    user-select: none;
}

/* *::before, *::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
} */

body {
    height: 100vh;
    background: #161616;
}

.container {
    position: relative;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: grid;
    place-items: center;
}

.container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;

    top: -100px;
    left: 50px;
    background: linear-gradient(#f0f, #f00);
    clip-path: circle(20% at 25% 30%);
}

.container::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;

    top: 100px;
    left: 50px;
    background: linear-gradient(#e91e63, #2195f3);
    clip-path: circle(20% at 70% 65%);
}
.container .card-wrapper {
    position: relative;
    display: grid;
    place-items: center;
    text-align: center;
    z-index: 1;
    width: 300px;
    height: 300px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, .5);
    border-radius: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(5px);
    overflow: hidden;

    transform-style: preserve-3d;
    transition: transform 1s;
    transform: scale(.8);
}

.container .card-wrapper:hover {
    transform: rotateY(360deg) scale(1.5);
    /* animation: rotacao 2s infinite; */
}


.container .card-wrapper .card-content h3 {
    font-size: 1.8em;
    color: #fff;
}

.container .card-wrapper .card-content p {
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}

.container .card-wrapper .card-content a {
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #FFF;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
}

@keyframes rotacao {
    0% {
        transform: scale(.1);
    }
    25%{
        transform: scale(1.5)
    }
    50% {
        transform: rotateX(360deg);
    }
    100% {
        transform: scale(.1);
    }
}

